<template name="mp3Item">
  <li class="list-group-item">
    <button class="del badge" data-id="{{_id}}">Remove</button>
    <a href="{{url}}">{{filename}}</a> </li>
</template>

<template name="mp3Add">
  Select an Mp3
  {{#autoForm id="mp3Add" collection="Mp3s" type="method" meteormethod="mp3Add"}}
    {{> afQuickField name="lovebox" type="hidden" value=lovebox}}
    {{> afQuickField name="file" type="cfs-file" collection="mbins" accept="audio/mpeg" }}
    <button type="submit">Submit</button>
  {{/autoForm}}
</template>
